// Common styling for service contents.
.ui.cards .card {
  .status.label {
    text-transform: uppercase;
  }

  .name, .child-type {
    font-weight: bold;
  }

  .empty {
    font-style: italic;
  }

  .meta * {
    margin: 0;
  }

  .mini.id {
    font-size: 0.8em;
  }

  .right {
    float: right;
  }
}

table.task-definitions td > * {
  width: 100%;
}

.ui.form .required:before {
  content: none;
}
