<template name="navbar">
  <div class="ui top secondary pointing menu">
    <a class="item" href="/">
      <div class="title">
        <img class="logo" src="/images/logo-small.png" />
        <span class="name">{{App.name}}</span>
      </div>
    </a>

    <a class="page item {{active 'dashboard'}}" href="{{pathFor route='dashboard'}}">Dashboard</a>
    <!--<a class="page item {{active 'Alerts'}}" href="{{pathFor route='Alerts'}}">Alerts</a>-->

    <div class="right menu">
      {{#if currentUser}}
        <div class="ui item">
          <div class="ui blue labeled icon sync button {{#if syncing}}disabled{{/if}}">
            <i class="refresh icon"></i> Sync
          </div>
        </div>

        <div class="ui simple user dropdown item">
          {{#if currentUser.profile.avatarUrl}}
          <img class="ui avatar image" src="{{currentUser.profile.avatarUrl}}">
          {{else}}
          <i class="user icon"></i>
          {{/if}}
          {{currentUser.profile.name}}
          <div class="menu">
            <div class="item">Profile</div>
            <div class="divider"></div>
            <div class="logout item">Logout</div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
