<template name="ec2">
  <h1>AWS EC2</h1>

  <div class="ui six stackable cards">
    {{#each instances}}
      {{> Ec2Instance }}
    {{/each}}
  </div>
</template>

<template name="Ec2Instance">
  <div class="{{color}} card">
    <div class="content">
      <div class="header">
        <div>
          <span class="name">
            {{#if name}}{{name}} ({{InstanceType}}){{else}}{{InstanceType}}{{/if}}
          </span>
          <a class="ui top right attached mini {{color}} label">{{upperCase status}}</a>
        </div>
      </div>
      <div class="meta">
        <div>
          <span class="id"><a href="{{manageUrl}}">{{_id}}</a></span> @
          <a class="instance" href="http://{{ip}}">{{ip}}</a>
          (<span class="availabilityZone">{{region}}</span>)
        </div>
        <div>Launched: {{LaunchTime}}</div>
        {{#if spot}}
          <div>
            <span class="contract">{{contractType}}{{#if spot}} ${{SpotPrice}}{{/if}})</span>
          </div>
        {{/if}}
        {{#if autoscaleGroup}}
          <div>
            Auto Scale group: {{autoscaleGroup}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
