<template name="ec2">
  <h1>AWS EC2</h1>

  <ul>
    {{#each instances}}
      <li>
        <div class="ui status {{statusColor}} horizontal label">{{status}}</div>
        <span class="name">{{name}}</span>,
        <span class="id"><a href="{{manageUrl}}">{{_id}}</a></span> @
        <a class="instance" href="http://{{ip}}">{{ip}}</a>
        <ul>
          <li>{{InstanceType}}, {{Placement.AvailabilityZone}}, {{contractType}}{{#if spot}} (${{SpotPrice}}){{/if}}</li>
          <li>Launched: {{LaunchTime}}</li>
          <li>Auto-scale group: {{autoscaleGroup}}</li>
        </ul>
      </li>
    {{/each}}
  </ul>
</template>
