<template name="ecs">
  <h1>AWS ECS</h1>

  <div class="ui actions segment">
    <div class="ui blue labeled icon install button {{#if installing}}disabled{{/if}}"
         title="Installs the ECS configuration script into the private S3 configuration bucket">
      <i class="upload icon"></i> Install ECS config
    </div>
  </div>

  <h2>Task Definitions</h2>

  {{> TaskDefinitionsTemplate}}

  <h2>Clusters</h2>

  <div class="clusters">
    <div class="ui one stackable cluster cards">
      {{#each clusters}}
        {{> ECSClusterTemplate}}
      {{else}}
        <span class="empty">No clusters.</span>
      {{/each}}
    </div>
  </div>
</template>

<template name="TaskDefinitionsTemplate">
  <table class="ui task-definitions table celled">
    <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {{#each taskdefFamilies}}
      <tr>
        <td class="collapsing" title="Status: {{status}}">
          <span class="ui horizontal {{color}} label">{{upperCase status}}</span>
        </td>
        {{#if latestRevision}}
          {{#with latestRevision}}
            <td>
              <a class="taskdef" href="{{manageUrl}}" target="_blank"
                  title="Manage latest revision of {{family}}">
                {{family}}:{{revision}}
              </a>
            </td>
          {{/with}}
        {{else}}
          <td><a href="#">{{_id}}</a>: <span class="empty">No active revision</span></td>
        {{/if}}
      </tr>
    {{else}}
      <tr class="empty">
        <td colspan="2">No task definitions</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>

<template name="ECSClusterTemplate">
  <div class="ui {{color}} cluster card">
    <div class="content">
      <div class="header">
        <div>
          <a class="name"  href="{{manageUrl}}" target="_blank" title="Manage cluster">{{name}}</a>
          <a class="ui top right attached mini {{color}} label" title="Status: {{status}}">
            {{upperCase status}}
          </a>
        </div>
      </div>
      <div class="meta">
        {{activeServicesCount}} services,
        {{registeredContainerInstancesCount}} instances,
        {{runningTasksCount}} tasks
      </div>
      <div class="description">
        <span class="child-type">{{#if services}}Services:{{else}}No services{{/if}}</span>
      </div>

      <!-- Child service cards -->
      <div class="extra content">
        <div class="ui cards">
          {{#each services}}
            {{> ECSServiceTemplate}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="ECSServiceTemplate">
  <div class="{{color}} card">
    <div class="content">
      <div class="header">
        <div>
          <a class="name" href="{{manageUrl}}" target="_blank" title="Manage service">{{name}}</a>
          <a class="ui top right attached mini {{color}} label" title="Status: {{status}}">
            {{upperCase status}}
          </a>
        </div>
      </div>
      <div class="meta">
        <span title="Parent task definition">{{taskdefName}}</span>
        {{#if loadBalancers}}
        <span class="elb" title="Service load balancers">
          <i class="ui sitemap icon"></i> {{loadBalancerNames}}
        </span>
        {{/if}}
      </div>
      <div class="description">
        <span class="child-type">Tasks</span>:
        <span class="running count" title="Number of running tasks">{{runningCount}}</span>
        {{#if pendingCount}}
        + <span class="pending count" title="Number of pending tasks">{{pendingCount}}</span>
        {{/if}}
        / <span class="desired count" title="Number of desired tasks">{{desiredCount}}</span>

        <button class="ui mini scale down icon button" title="Scale out">
          <i class="minus icon"></i>
        </button>
        <button class="ui mini scale up icon button" title="Scale in">
          <i class="plus icon"></i>
        </button>
      </div>
    </div>

    <!-- Child task cards -->
    <div class="extra content">
      <div class="ui cards">
        {{#each tasks}}
          {{> ECSTaskTemplate}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="ECSTaskTemplate">
  <div class="{{color}} card">
    <div class="content">
      <div class="header">
        <div>
          <a class="name" href="{{manageUrl}}" target="_blank" title="Manage task">{{name}}</a>
          <span class="ui top right attached mini {{color}} label" title="Status: {{status}}">
            {{upperCase status}}
          </span>
        </div>
      </div>
      <div class="meta">
        <span class="mini id" title="Task ID">{{taskId}}</span>
      </div>
    </div>
  </div>
</template>
