<template name="s3">
  <h1>AWS S3</h1>

  <div class="ui stackable link cards">
    {{#each buckets}}
      {{> S3BucketTemplate}}
    {{/each}}
  </div>
</template>

<template name="S3BucketTemplate">
  <div class="card">
    <a href="{{manageUrl}}" target="_blank">
    <div class="content">
      <div class="header">
        <div>
          <span class="name">{{Name}}</span>
          {{#if website}}
          <a class="ui top right attached mini blue label" href="{{website.url}}">
            <i class="ui external icon"></i> WEBSITE
          </a>
          {{/if}}
        </div>
      </div>
      <div class="meta">
        <div>{{region}}</div>
      </div>
    </div>
    </a>
  </div>
</template>
