<template name="s3">

  <div class="ui grid">
    <div class="eight wide left aligned column"><h1>AWS S3</h1></div>
    <div class="eight wide right aligned column">{{> S3Actions}}</div>
  </div>

  <div class="ui stackable link cards">
    {{#each buckets}}
      {{> S3BucketTemplate}}
    {{else}}
    <div class="empty card">
      <div class="content">
        <div class="header">No buckets</div>
      </div>
    </div>
    {{/each}}
  </div>
</template>

<template name="S3Actions">
  <div class="ui secondary menu">
    <div class="ui blue labeled icon dropdown create button">
      <i class="plus icon"></i> Create Bucket
      <div class="menu">
        <div class="header">Suggestions</div>
        {{#each suggestions}}
          <div class="create item">
            <i class="{{icon}} icon"></i> {{name}}
          </div>
        {{/each}}
        <div class="divider"></div>
        <div class="custom item">
          <i class="plus icon"></i> Custom
        </div>
      </div>
    </div>
  </div>

  <div class="ui small create modal">
    <div class="ui segment">
      <h2>Create a new S3 bucket</h2>

      <form class="ui create form">
        <div class="field">
          <label>Bucket name</label>
          <input type="text" name="name" />
        </div>
        <button class="ui submit button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>

<template name="S3BucketTemplate">
  <div class="card">
    <a href="{{manageUrl}}" target="_blank">
    <div class="content">
      <div class="header">
        <div>
          <span class="name">{{Name}}</span>
          {{#if website}}
          <a class="ui top right attached mini blue label" href="{{website.url}}">
            <i class="ui external icon"></i> WEBSITE
          </a>
          {{/if}}
        </div>
      </div>
      <div class="meta">
        <div>{{region}}</div>
      </div>
    </div>
    </a>
  </div>
</template>
