<template name="dashboard">
  <h1>Dashboard</h1>

  <div class="ui stackable link cards">
    {{#each services}}
      {{> ServiceTemplate}}
    {{/each}}
  </div>
</template>

<template name="ServiceTemplate">
  <div class="{{id}} service card">
    <div class="content">
      <div class="header">
        <div class="large aws {{id}} icon"></div>
        <span class="name">{{name}}</span>
        {{#if count}}<span class="count">({{count}})</span>{{/if}}
      </div>
      <div class="meta">
        <div>{{region}}</div>
      </div>
    </div>
  </div>
</template>
